@charset "utf-8";

*{
    box-sizing:border-box;
}

/*Grid*/
main{
    display:grid;
    grid-gap:5px;
    grid-template-areas:
        "h h h h"
        "n n n n"
        "t t t t"
    ;
}
header{
    grid-area:h;
}
nav{
    grid-area:n;
}
.tartalom{
    grid-area:t;
}
/*Grid*/

main{
    width:100%;
    max-width:1200px;
    margin:auto;
}

header{
    text-align:center;
}

nav{
    display:flex;
    justify-content:space-evenly;
}
nav li{
    list-style-type:none;
}
nav li a{
    text-decoration:none;
}
#bejelentkezes{
    align-self: center;
}